@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Burnt-Orange: #D87D4A;
  --Light-Orange: #FBAF85;
  --Semi-Black: #101010;
  --Just-Black: #000000;
  --Off-White: #FAFAFA;
  --Greyish: #F1F1F1;
  --Just-White: #FFFFFF;

  --Text-Grey: hsl(0, 0%, 70%);
}

* {
  box-sizing: border-box;
}


.headphones-body {
  margin: 0 auto;
}

body p {
  color: var(--Text-Grey)
}
/*------------------Home--------------------------*/

.product-hero {
  display: flex;
  align-items: center;
  background-image: url('/assets/home/desktop/image-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 61em;
}

.product-hero h1 {
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 56px;
  color: var(--Just-White);
}

.product-hero button {
  background-color: var(--Burnt-Orange);
  color: var(--Just-White);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2%;
}

.product-hero div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15%;
  inline-size: 800px;
}

.product-hero h6 {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--Text-Grey);
}

.home-catergories {
  display: flex;
  justify-content: center;
  width: 100%;

}

.home-catergories .audio-categories {
  display: flex;
  gap: 70px;
  width: 100%;
}

.home-catergories .audio-categories div {
  width: 100%;
  border-radius: 5px;
}

.main-ad {
  display: flex;
  justify-content: flex-end;
  background-image: url('/assets/home/desktop/image-speaker-zx9.png'), url('/assets/home/desktop/pattern-circles.svg');
  background-color: var(--Burnt-Orange);
  background-position: 4cm;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40em;
  border-radius: 5px;
  padding-right: 10em;
}

.main-ad2 {
  align-content: center;
  gap: 20px;
  background-image: url('/assets/home/desktop/image-speaker-zx7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2%;
  height: 25em;
  border-radius: 5px;
  padding-left: 2em;
}

.main-ad .ma1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  inline-size: 500px;
  gap: 40px;
}

.ma1 h1 {
  font-size: 58px;
  color: var(--Just-White);
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.ma2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.ma2 h1 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.ma2 button {
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid black;
  padding: 15px 30px 15px 30px;
  font-weight: 500;
}

.ma3 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 20%;
  width: 100%;


}

.ma3-img {
height: auto;
border-radius: 10px;
width: 100%;
}

.ma3-img img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.ma3-descript h1 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.ma3-descript button {
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid black;
  padding: 15px 30px 15px 30px;
  font-weight: 500;
}

.ma3-descript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  background-color: var(--Greyish);
}

.ma3-descript button {
  position: relative;
  left: 100px;
}

.ma3 h1 {
  position: relative;
  left: 100px;
}

.ma1 p {
  color: var(--Off-White);
  font-size: 20px;
  font-weight: lighter;
  word-spacing: 2px;
}

.main-ad img {
height: auto;
width: 100%;
padding-left: 15%;
padding-top: 23%;
}

.main-ad button {
  background-color: var(--Just-Black);
  color: var(--Just-White);
  letter-spacing: 1px;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.home-main {
  padding: 0 15% 0 15%;
}

.home-audio-script{
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 700px;
}

.home-audio-script h1 {
  font-size: 58px;
  inline-size: 600px;
  text-transform: uppercase;
  line-height: 60px;
  font-weight: bold;
}

.home-audio-script span {
  color: var(--Burnt-Orange);
}

.home-audio-script p {
  font-size: 20px;
}

.home-headphone-page-script {
display: flex;
justify-content: space-between;
margin-bottom: 15%;
}

.home-headphone-page-script img {
  border-radius: 10px;
}

@media screen and (max-width:844px) {
   .product-hero {
    background-image: url('/assets/home/mobile/image-header.jpg');
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
   }

   .home-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5% 0 5%;
   }

   .product-hero div {
    width: 100%;
    padding-left: 0%;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 50% 15px 35px 15px;

   }

   .product-hero div button {
    width: 100%;
    padding: 15px 20px 15px 20px;
    font-size: 12px;
   }

   .product-hero h1 {
    width: 100%;
    font-size: 46px;
   }

   .home-headphone-page-script {
    flex-direction: column-reverse;
    width: 100%;
   }

   .home-headphone-page-script .home-audio-script {
    width: 100%;
   }

   .home-headphone-page-script .home-audio-script h1 {
    text-align: center;
    font-size: 26px;
    line-height: normal;
    width: 100%;
   }

   .all-ads {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
   }

   .audio-ad-sect, .audio-ad2-sect, .audio-ad3-sect{
      width: 100%;
   }

   .main-ad {
    padding-right: 0%;
    background-position: 2.3cm;
    background-position-y: 1cm;
    background-size: 50%;
   }

   .main-ad .ma1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70% 15px 0 15px;
   }

   .main-ad .ma1 h1 {
    font-size: 35px;
    width: 100%;
   }

   .main-ad .ma1 p {
    font-size: 16px;
    width: 100%;
   }

   .main-ad2 {
    background-image: url('/assets/home/mobile/image-speaker-zx7.jpg');
    background-size: contain;
    padding-left: 15px;
   }

   .ma2 h1{
    font-size: 35px;
    width: 100%;
   }

   .ma2 button {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
   }

   .ma3 {
    flex-direction: column;
    gap: 20px;
   }

   .ma3 img {
    width: 100%;
   }

   .ma3-descript h1 {
    position: static;
    font-size: 35px;
   }

   .ma3-descript button {
    position: static;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
   }

   .ma3-descript {
    padding: 40px 0 40px 20px;
   }

   .home-catergories .audio-categories{
    display: flex;
    flex-direction: column;
    gap: 85px;
   }

   .home-audio-script p {
    text-align: center;
    font-size: 18px;
   }


}



/*-----------------Navigation--------------------*/
.navigation {
display: flex;
font-size: 18px;
font-weight: lighter;
justify-content: center;
justify-content: space-evenly;
align-items: center;
background-color: var(--Just-Black);
color: var(--Just-White);
padding-top: 25px;
}

.navigation .nav-links {
  display: flex;
  letter-spacing: 2px;
  gap: 80px;
}

.nav-links a:hover {
  color: var(--Burnt-Orange);
}

/*----------------Heaphones Page-----------------*/

.headphones-hero {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFF;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5% 0 5%;
}

.product-descript {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 500px;
}

.product-descript h1 {
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 56px;
}

.products h6 {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--Light-Orange);
}

.product-descript button {
  background-color: var(--Burnt-Orange);
  color: var(--Just-White);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 25px;
}

.product-descript button:hover{
  background-color: var(--Light-Orange);
}

.product-descript p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.p1 img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.p1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;

}

.p2 img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.p2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;

}

.p3 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;

}
.p3 img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.p1, .p2, .p3 {
  margin-bottom: 8%;
  gap: 100px;
}

.audio-categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10% 0 15% 0;
  text-transform: uppercase;
  width: 100%;
}

.audio-categories a::after {
  content: url('/assets/shared/desktop/icon-arrow-right.svg');
}

.audio-categories a {
  display: flex;
  font-weight: 100;
  gap: 4px;
  position: relative;
  bottom: 20%;
  letter-spacing: 1px;
}

.audio-categories a:hover {
color: var(--Burnt-Orange);
}

.audio-categories img {
  width: 200px;
  height: auto;
  position: relative;
  bottom: 34%;
}

.audio-categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Greyish);
  /* position: relative; */
  height: auto;
  width: 350px;
  border-radius: 10px;
}

.audio-categories  h5 {
  position: relative;
  bottom: 35%;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

/* img[alt='right arrow'] {
  position: relative;
  width: 10px;
  left: 40px;
} */

.headphone-page-script {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  gap: 10%;
}

.headphone-page-script img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.audio-script {
  inline-size: 700px;
}

.audio-script h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 56px;
  margin-bottom: 8%;
}

.audio-script p {
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
  color: hsl(0, 0%, 70%);
}

.audio-script h1 span{
  color: var(--Burnt-Orange);
}

@media screen and (max-width:1044px) {
  
  .p1, .p2, .p3 {
    width: 100%;
    gap: 20px;
    flex-direction: column-reverse;
  }
  
  .p1 img {
    width: 100%;
    height: auto;
  }
  .p2 img {
    width: 100%;
    height: auto;
  }
  .p3 img {
    width: 100%;
    height: auto;
  }

  .product-descript {
    text-align: center;
  }

  .headphone-page-script {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
  }

  .headphone-page-script img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 844px){

body {
  overflow: auto;
}

.product-descript {
  width: 100%;
}

.product-descript h1 {
  font-size: 46px;
}

.p1, .p2, .p3 {
  width: 100%;
  gap: 10px;
}

.p1 img {
  height: auto;
}
.p2 img {
  height: auto;
}
.p3 img {
  height: auto;
}

.navigation {
  width: 100%;
}

.audio-script {
  width: 100%;
}

.audio-categories {
  margin: 40% 0 40% 0;
  width: 100%;
}

.audio-categories h5 {
  font-size: 13px;
}

.navigation .nav-links{
  display: none;
}

.footer {
  flex-direction: column-reverse;
}

.footer .brand img {
  display: none;
}

.brand {
  max-width: 100%;
  text-align: center;
}

.footer .social-media {
  align-items: center ;
  justify-content: center;
  gap: 40px;
}

.footer .social-media img {
  display: block;
}

.social-media .footer-links {
  flex-direction: column;
  text-align: center;
  gap: 30px;
}



}

/*------------product-page---------------*/

.product-page-body {
  padding: 0 20% 0 20%;

}

.product-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.single-product {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 5%;
  margin: 5% 0 5% 0;
}

.single-product img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.single-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 500px;
  gap: 5%;
}

.single-product-info h1 {
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 56px;
}

.single-product-info p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.single-product-info h5 {
  font-weight: bold;
}

.single-product-info h6 {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--Light-Orange);
}



.add-cart {
  display: flex;
  gap: 5%;
}

.add-cart button {
  background-color: var(--Burnt-Orange);
  color: var(--Just-White);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 25px;
  font-size: 12px;
}

.add-cart input {
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--Greyish);
  text-align: center;
}

.feature-and-items {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 10% 0 10% 0;
}

.features {
  inline-size: 700px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.features h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 44px;
  padding: 30px 0 30px 0;
}

.included-items h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 44px;
  padding: 0px 0 30px 0;
}

.included-items span {
  color: var(--Burnt-Orange);
  font-weight: bold;
  font-size: 18px;
}

.included-items li {
  display: flex;
  gap: 20px;
  color: var(--Text-Grey);
  font-weight: 500;
  line-height: 35px;
}

.gallery-images {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 5%;
}

.gallery-images img {
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.image-set-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.also-like {
  display: flex;
  margin: 5% 0 15% 0 ;
  gap: 20px;
}

label h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 600;
  margin-top: 15%;
  letter-spacing: 1px;
}


.other-product {
text-align: center;
text-transform: uppercase;
}

.other-product img {
  border-radius: 10px;
}

.other-product h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 30px;
}

.other-product button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: var(--Burnt-Orange);
  color: var(--Just-White);
  padding: 10px 25px;
}

@media screen and (min-width: 1920px) {
  .product-container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 1440px ){
  .product-container {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1044px){
  .feature-and-items{
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width:844px){

  .product-page-body {
    padding: 0 5% 0 5%;
  }
  
  .single-product {
    flex-direction: column;
    gap: 30px;
  }

  .single-product-info {
    width: 100%;
    gap: 30px;
  }

  .single-product-info h1 {
    font-size: 40px;
  }

  .feature-and-items {
    flex-direction: column;
    width: 100%;
    gap: 60px;
  }

  .feature-and-items .features {
    width: 100%;
  }

  .included-items {
    padding-bottom: 80px;
  }

  .also-like {
    flex-direction: column;
    width: 100%;
  }

  .also-like img{
    width: 100%;
    height: auto;
  }

  .gallery-images {
    flex-direction: column;
    width: 100%;
  }

  label h1 {
    font-size: 26px;
    padding: 65px 0 0 0;
  }
}

/*------------Bouncing-Loader-------------*/
.bouncing-loader {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 90vh;
}

.bouncing-loader div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--Burnt-Orange);
  animation: bounce 2s infinite ease-in-out; /* Use ease-in-out for smoother motion */
}

.bouncing-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the same place */
  }
  50% {
    transform: translateY(-30px); /* Go up at 50% */
  }
}
/*----------------Footer-----------------*/


.footer {
  display: flex;
  gap: 25%;
  justify-content: center;
  justify-content: space-evenly;
  background-color: var(--Just-Black);
  padding: 4% 0 5% 0;
  height: auto;
}

.social-media img {
  display: none;
}

.footer .brand {
  inline-size: 550px;
  font-size: 15px;
}

.brand :nth-child(even) {
  margin: 5% 0 5% 0;
}


.social-media {
  display: flex;
  flex-direction: column;
  gap: 70px;
  color: var(--Just-White);
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  margin-top: 5%;
  gap: 10px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/*--------------------Cart Modal----------------------------*/

.cart-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: var(--Just-White);
  opacity: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1000dvh rgba(0, 0, 0, 0.557);
  overflow-y: scroll;
  }

  .cart-modal li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
  }

  .cart-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .cart-head h6 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .cart-modal .item-info {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .item-info div:nth-of-type(even) {
     font-weight: 300;
  }

  .cart-modal input {
    text-align: center;
    font-weight: 500;
    background-color: var(--Greyish);
    border-radius: 5px;
    width: 100px;

  }

  .cart-modal button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    background-color: var(--Burnt-Orange);
    color: var(--Just-White);
    padding: 10px 25px;
    margin-top: 5px;
  }

  @media screen and (max-width: 844px) {
    .cart-modal {
      margin: 0 0 0 5%;
    }
  }

  /*-----------------Checkout page------------*/
  .checkout-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--Greyish);

  }

  .checkout-form {
    background-color: var(--Just-White);
    margin: 20px 0 20px 0;
    border-radius: 10px;
    padding: 40px;
    height: 100%;
  }

  .checkout-form form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    width: 100%;
  }

  .checkout-form label {
    display: block;
    font-weight: bold;
    font-size: 12px;
  }

  .checkout-form h1 {
    font-weight: bold;
    font-size: 20px;

    text-transform: uppercase;
  }

  .checkout-form form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--Greyish);
    width: 100%;
  }

  .billing-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .checkout-form h5 {
    color: var(--Burnt-Orange);
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .billing-details div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .shipping-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .shipping-info div {
    display: flex;
    justify-content: space-between;
  }

  .e-money-container {
    display: flex;
    gap: 20px;
  }

  .cart-summary {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--Just-White);
    height: 50%;
    gap: 20px;
    margin-top: 20px;
  }

  .cart-summary h6 {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .cart-summary li {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 5px 0;
  }

  .cart-summary span div:nth-of-type(odd) {
    font-weight: bold;
  }

  .cart-summary button {
      text-transform: uppercase;
      background-color: var(--Burnt-Orange);
      color: var(--Just-White);
      font-size: 14px;
      letter-spacing: 1px;
      padding: 15px 0;
  }

  .cart-summary button:hover {
    background-color: var(--Light-Orange);
  }

  .total {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .total div {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    gap: 30px;
  }

  .total h3 {
    text-transform: uppercase;
    color: var(--Text-Grey);
    font-weight: normal;
  }

  .total div span {
    color: var(--Burnt-Orange);
  }

  @media screen and (max-width: 1044px){
    .checkout-container {
       flex-direction: column;
       gap: 10px;
    }
  }
  
  @media screen and (max-width: 844px){
    .checkout-container {
       flex-direction: column;
       gap: 10px;
    }
  }
  
